Makefile
buildpkg.sh
config.h.in
config.status
config.log
configure
openbsd-compat/Makefile
openbsd-compat/regress/Makefile
openssh.xml
opensshd.init
survey.sh
**/*.0
**/*.o
**/*.out
**/*.a
autom4te.cache/
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
sshd
!regress/misc/fuzz-harness/Makefile
debian/openssh-tests/
oqs_test/tmp
__pycache__
tags
*.swp
compile
config.h.in
ltmain.sh
missing
configure

patches/
publish/
utils/
liboqs/build/*
liboqs/include/*
liboqs/lib/*
azure-pipelines.yml
openssh/debian/*
*.deb
*.changes
openssh/config.guess
openssh/config.sub
openssh/contrib/gnome-ssh-askpass3
